

<div class="table-container" #tableContainer>
 
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="subject">Subject</th>
        <th scope="col">Requester ID</th>
        <th scope="col">Assigee ID</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
        <th scope="col">Start Date</th>
        <th scope="col">Due Date</th>
        <th scope="col">Updated Date</th>
        <th scope="col">Task Id</th>
        <th scope="col">More</th>
      </tr>
    </thead>
    <tbody #tableBody>
      <ng-container *ngFor="let tkt of allTickets | paginate: { id: 'listing-pagination', itemsPerPage: 12, currentPage: page, totalItems: totalRecords }; let i = index ">
          <tr (click)="toggleRow(i)">
          <td id="subjectRow">{{tkt.ticketSubject}}</td>
          <td>{{tkt.requesterId}}</td>
          <td>{{tkt.assignyId}}</td>
          <td [ngClass]="{
            'complete': tkt.status === 1,
            'pending': tkt.status === 2,
            'in-progress': tkt.status === 3
          }">{{tkt.status === 1 ? 'Complete' : tkt.status === 2 ? 'Pending' : 'In Progress'}}</td>

          <td [ngClass]="{
            'low': tkt.priority === 1,
            'normal': tkt.priority === 2,
            'high': tkt.priority === 3
          }">{{tkt.priority === 1 ? 'Low' : tkt.priority === 2 ? 'Normal' : 'High'}}</td>
          <td>{{tkt.dateCreated | date}}</td>
          <td>{{tkt.dueDate | date}}</td>
          <td>{{tkt.updatedDate | date}}</td>
          <td>{{tkt.taskId}}</td>
          <!-- <td><button id="buttonColor" mat-raised-button type="button" class="btn " >{{ isRowExpanded(i) ? 'Hide' : 'More' }}</button></td> -->
          <td><button id="buttonColor" mat-raised-button type="button" class="btn" (click)="showTicketDetails(i)">More</button></td>
          
        </tr>
        <!-- <tr id='moreRow' *ngIf="isRowExpanded(i)">
          <td colspan="10">
            <p><strong>Description:</strong> {{tkt.description}}</p>
            <p><strong>Comment:</strong> {{tkt.comment}}</p>
            <p><strong>Sentiment:</strong> {{tkt.sentiment}}</p>
          </td>
        </tr> -->
      </ng-container>
    </tbody>
  </table>
  <pagination-controls  id="listing-pagination"
  (pageChange)="page = ($event)"
  [maxSize]= "8"
  [directionLinks]= "true"

  previousLabel="Previous"
  nextLabel="Next"
>
</pagination-controls>
<button (click)="movetoAddTicket()">Want to create a ticket?</button>
</div>

<div>
  <p>{{allTickets | json}}</p>
</div>











<!-- <div class="table-container" #tableContainer>
  
  <cdk-virtual-scroll-viewport itemSize="40" class="table-container" >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Requester ID</th>
        <th scope="col">Assigee ID</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
        <th scope="col">Start Date</th>
        <th scope="col">Due Date</th>
        <th scope="col">Updated Date</th>
        <th scope="col">Task Id</th>
        <th scope="col">More</th>
      </tr>
    </thead>
    <tbody #tableBody>
      <ng-container *cdkVirtualFor="let tkt of allTickets; let i = index">
        <tr (click)="toggleRow(i)">
          <td>{{tkt.ticketSubject}}</td>
          <td>{{tkt.requesterId}}</td>
          <td>{{tkt.assignyId}}</td>
          <td [ngClass]="{
            'complete': tkt.status === 1,
            'pending': tkt.status === 2,
            'in-progress': tkt.status === 3
          }">{{tkt.status === 1 ? 'Complete' : tkt.status === 2 ? 'Pending' : 'In Progress'}}</td>

          <td [ngClass]="{
            'low': tkt.priority === 1,
            'normal': tkt.priority === 2,
            'high': tkt.priority === 3
          }">{{tkt.priority === 1 ? 'Low' : tkt.priority === 2 ? 'Normal' : 'High'}}</td>
          <td>{{tkt.dateCreated | date}}</td>
          <td>{{tkt.dueDate | date}}</td>
          <td>{{tkt.updatedDate | date}}</td>
          <td>{{tkt.taskId}}</td>
          <td><button id="buttonColor" mat-raised-button type="button" class="btn " >{{ isRowExpanded(i) ? 'Hide' : 'Show More' }}</button></td>
          
        </tr>
        <tr *ngIf="isRowExpanded(i)">
          <td colspan="5">
            <p><strong>Description:</strong> {{tkt.description}}</p>
            <p><strong>Comment:</strong> {{tkt.comment}}</p>
            <p><strong>Sentiment:</strong> {{tkt.sentiment}}</p>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</cdk-virtual-scroll-viewport>
</div>  -->








<!-- <table class="table table-hover">
  
  <cdk-virtual-scroll-viewport itemSize="50" class=" table table-hover displaytable" >
  <thead >
    <tr class="tableHeadings">
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Assigee</th>
      <th scope="col">Subject Matter</th>
      <th scope="col">Priority</th>
      <th scope="col">Start Date</th>
      <th scope="col">Due Date</th>
      <th scope="col">Updated Date</th>
      <th scope="col">Task Id</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody>
      <ng-container *cdkVirtualFor="let tkt of allTickets; let i = index" class="tableBody">
        <tr (click)="toggleRow(i)">
          <td class="titlerow">{{tkt.title}}</td>
          <td [ngClass]="{
          'complete': tkt.status === 1,
          'pending': tkt.status === 2,
          'in-progress': tkt.status === 3
        }">{{tkt.status === 1 ? 'Complete' : tkt.status === 2 ? 'Pending' : 'In Progress'}}</td>
          <td>{{tkt.assigneeId}}</td>
          <td>{{tkt.subjectMatter}}</td>
          <td [ngClass]="{
          'low': tkt.priority === 1,
          'normal': tkt.priority === 2,
          'high': tkt.priority === 3
        }">{{tkt.priority === 1 ? 'Low' : tkt.priority === 2 ? 'Normal' : 'High'}}</td>
          <td>{{tkt.startDat}}</td>
          <td>{{tkt.dueDate}}</td>
          <td>{{tkt.updatedDate}}</td>
          <td>{{tkt.taskId}}</td>
          <td><button type="button" class="btn btn-outline-success">{{ isRowExpanded(i) ? 'Hide' : 'Show More'
              }}</button></td>
        </tr>
        <tr *ngIf="isRowExpanded(i)">
          <td colspan="5">
            <p><strong>Description:</strong> {{tkt.description}}</p>
            <p><strong>Comment:</strong> {{tkt.comment}} (sentiment: {{tkt.sentiment}})</p>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </cdk-virtual-scroll-viewport>
</table>
 -->

<!-- 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Assigee</th>
      <th scope="col">Subject Matter</th>
      <th scope="col">Priority</th>
      <th scope="col">Start Date</th>
      <th scope="col">Due Date</th>
      <th scope="col">Updated Date</th>
      <th scope="col">Task Id</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let tkt of allTickets; let i = index">
      <tr (click)="toggleRow(i)">
        <td>{{tkt.title}}</td>
        <td [ngClass]="{
          'complete': tkt.status === 1,
          'pending': tkt.status === 2,
          'in-progress': tkt.status === 3
        }">{{tkt.status === 1 ? 'Complete' : tkt.status === 2 ? 'Pending' : 'In Progress'}}</td>
        <td>{{tkt.assigneeId}}</td>
        <td>{{tkt.subjectMatter}}</td>
        <td [ngClass]="{
          'low': tkt.priority === 1,
          'normal': tkt.priority === 2,
          'high': tkt.priority === 3
        }">{{tkt.priority === 1 ? 'Low' : tkt.priority === 2 ? 'Normal' : 'High'}}</td>
        <td>{{tkt.startDat}}</td>
        <td>{{tkt.dueDate}}</td>
        <td>{{tkt.updatedDate}}</td>
        <td>{{tkt.taskId}}</td>
        <td><button type="button" class="btn btn-outline-success">{{ isRowExpanded(i) ? 'Hide' : 'Show More' }}</button></td>
      </tr>
      <tr *ngIf="isRowExpanded(i)">
        <td colspan="5">
          <p><strong>Description:</strong> {{tkt.description}}</p>
          <p><strong>Comment:</strong> {{tkt.comment}}</p>
          <p><strong>Sentiment:</strong> {{tkt.sentiment}}</p>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table> -->