<link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/2.2.7/assets/css/emojione.min.css"/>

<meta charset="UTF-8">

<div class="ticket-details">
  <div class="ticket-details__header">
    <h2 >Subject: {{myTicket02.subject}}</h2>
    <div>
      <p [ngClass]="{
        'complete': myTicket02.status === 1,
        'pending': myTicket02.status === 2,
        'in-progress': myTicket02.status === 3
      }">Status: {{myTicket02.status === 1 ? 'Complete' : myTicket02.status === 2 ? 'Pending' : 'In Progress'}}</p>
    </div>
    <h2>Description</h2>
    <p class="ticket-details__description">{{myTicket02.description}}</p>
  </div>
  <div class="ticket-details__details">
    <div class="ticket-details__date-box">
      <div class="ticket-details__date-label">Created Date</div>
      <div class="ticket-details__date-value">{{myTicket02.createdDate | date}}</div>
    </div>
    <div class="ticket-details__date-box">
      <div class="ticket-details__date-label">Start Date</div>
      <div class="ticket-details__date-value">{{myTicket02.startDate | date}}</div>
    </div>
    <div class="ticket-details__date-box">
      <div class="ticket-details__date-label">Due Date</div>
      <div class="ticket-details__date-value">{{myTicket02.dueDate | date}} </div>
    </div>
    <div class="ticket-details__comments">
      <h3 class="ticket-details__comments-heading">Comments</h3>
      <div class="ticket-details__comments-box">
        
        <div [ngClass]="{
          'ticket-details__comment--neutral': c.sentiment === 0,
          'ticket-details__comment--negative': c.sentiment === -1,
          'ticket-details__comment--positive': c.sentiment === 1
        }" *ngFor="let c of allComments">
          <p class="ticket-details__comment-text">{{c.text}}</p>
          <img *ngIf='c.sentiment === 0' src="../../../assets/Emojis/image01.png" alt="" class="sentimentEmoji">
          <img *ngIf='c.sentiment === 1' src="../../../assets/Emojis/image07.png" alt="" class="sentimentEmoji">
          <img *ngIf='c.sentiment === -1' src="../../../assets/Emojis/image06.png" alt="" class="sentimentEmoji">
          
          <p class="ticket-details__comment-info">By {{c.assignee.name}} on 01/01/2022</p>
      </div>
        
      <div class="ticket-details__comment">
          <p class="ticket-details__comment-text">Assignee comment goes here.</p>
          <p class="ticket-details__comment-info">By Assignee on 01/02/2022</p>
        </div>
      </div>
      <div class="ticket-details__comment-add">
        <textarea class="ticket-details__comment-textarea" placeholder="Add a comment" [(ngModel)]="commentvalue"></textarea>
        <button class="ticket-details__comment-button" (click)="addComment(commentvalue)">Add Comment</button>
      </div>
    </div>
  </div>
</div>
<p></p>